@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden;
  }
}
